<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <% include ../partials/nav %>
    <main id="main">
      <section class="section">
        <div class="section__title">
          <a href="/events/">Events</a><%= event.name %>
        <div class="section__subtitle">
          <a href="/events/">Events</a> >> <%= event.name %>
        </div>
          <div class="card">
            <div class="card__title">Details:</div>
            <ul class="card__list">

                <% if (event.description) { %>
                  <li>
                      <span class="card__prop">Description:</span>
                      <%= event.description %>
                  </li>
                <% } %>

                <% if (event.location) { %>
                  <li>
                      <span class="card__prop">Location:</span>
                      <%= event.location %>
                  </li>
                <% } %>

                <% if (event.date) { %>
                  <li>
                      <span class="card__prop">Date:</span>
                      <%= event.date %>
                  </li>
                <% } %>

                <% if (event.start_time) { %>
                  <li>
                      <span class="card__prop">Start Time:</span>
                      <%= event.start_time %>
                  </li>
                <% } %>

            </ul>

            <% if (profile != null)  { %>
                <p class="section__text">(You are signed up to attend this event)</p>
            <% } else { %>
              <p class="section__text">(You are not signed up for this event)</p>
            <% } %>
            <div class="card__buttons">
              <a class="card__button card__button--green" href="/events/<%= event.id%>/profiles">See Attendees</a>
              <a class="card__button card__button--blue" href="/events/<%= event.id%>/profiles/rsvp">Change RSVP</a>
            </div>
          </div>
      </section>
    </main>
  <script src="/shared_scripts.js" charset="utf-8"></script>
  </body>
</html>
