<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>
    <% include ../partials/nav %>
    <main id="main">
      <section class="section">

      <div class="section__title">
          My Account:
      </div>
      <% if (message) { %>
        <div class="section__message section__message--<%= message.type%>"><%= message.text %></div>
      <% } %>
          <div class="card">
            <div class="card__title">Account Info:</div>
            <% if (user.photo) { %>
              <div class="card__img" style="background-image: url(<%= `"${user.photo}"` %>)"></div>
            <% } %>
            <ul class="card__list">

                <% if (user.first) { %>
                  <li>
                      <span class="card__prop">First Name:</span>
                      <%= user.first %>
                  </li>
                <% } %>

                <% if (user.last) { %>
                  <li>
                      <span class="card__prop">Last Name:</span>
                      <%= user.last %>
                  </li>
                <% } %>

                <% if (user.email) { %>
                  <li>
                      <span class="card__prop">Email:</span>
                      <%= user.email %>
                  </li>
                <% } %>

                <% if (user.location) { %>
                  <li>
                      <span class="card__prop">Location:</span>
                      <%= user.location %>
                  </li>
                <% } %>

                <% if (user.location) { %>
                  <li>
                      <span class="card__prop">Interests:</span>
                      <%= user.interests %>
                  </li>
                <% } %>
                <% if (user.profession) { %>
                  <li>
                      <span class="card__prop">Profession:</span>
                      <%= user.profession %>
                  </li>
                <% } %>

                <% if (user.location) { %>
                  <li>
                      <span class="card__prop">Professional Email:</span>
                      <%= user.email_professional %>
                  </li>
                <% } %>

                <% if (user.linkedin) { %>
                  <li>
                      <span class="card__prop">LinkdIn:</span>
                      <%= user.linkedin %>
                  </li>
                <% } %>

                <% if (user.facebook) { %>
                  <li>
                      <span class="card__prop">Facebook:</span>
                      <%= user.facebook %>
                  </li>
                <% } %>

                <% if (user.phone) { %>
                  <li>
                      <span class="card__prop">Phone:</span>
                      <%= user.phone %>
                  </li>
                <% } %>
            </ul>
            <div class='card__buttons'>
              <a class='card__button card__button--green' href='/account/edit'>Edit Account</a>
            </div>
          </div>
      </section>
      <% include ../partials/footer %>
    </main>
    <script src="/shared_scripts.js" charset="utf-8"></script>
  </body>
</html>
