<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App - Edit Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>
        <%- include ../public/navBar.ejs %>
    <main id="main">
      <section class="section">
        <div class="section__title"><a href="/events/<%= event[0].id%>"><%= event[0].name %></a> >> <a href="/events/<%= event[0].id%>/profiles">Profiles</a> >> Your Profile</div>
        <form class="section__form" action="/events/<%= event[0].id %>/profiles/<%=profile.profileID%>/edit?_method=PUT" method="post" enctype='application/x-www-form-urlencoded'>
          <!--  -->
          <fieldset class="section__form__fieldset">
            <legend class="section__form__legend">Edit Profile</legend>

            <label class="section__form__label" for="description">Questions:</label>
            <input class="section__form__input" type="text" name="questions" value="<%= profile.profileQuestions %>">

            <label class="section__form__label" for="location">Topics:</label>
            <input class="section__form__input" type="text" name="topics" value="<%= profile.profileTopics %>">

            <label class="section__form__label" for="jobStatus">Job Status:</label>
            <input class="section__form__input" type="text" name="job_status" value="<%= profile.profileJob %>">

            <label class="section__form__label" for="noiseLevel">Noise Level:</label>
            <input class="section__form__input" type="text" name="noise_level" value="<%= profile.profileNoise %>">

            <label class="section__form__label" for="whereToFindMe">Where to find me:</label>
            <input class="section__form__input" type="text" name="where_to_find" value="<%= profile.profileWhereToFind %>">

            <label class="section__form__label" for="askMe">Ask me:</label>
            <input class="section__form__input" type="text" name="ask_me" value="<%= profile.profileAskMe %>">

            <label class="section__form__label" for="personality">Personality:</label>
            <input class="section__form__input" type="text" name="personality" value="<%= profile.profilePersonality %>">

            <input type="hidden" name="event_id" value="<%= event[0].id %>">
            <button class="section__form__submit" type="submit">Submit</button>
          </fieldset>
        </form>
      </section>
    </main>
    <script src="/shared_scripts.js" charset="utf-8"></script>
  </body>
</html>
