<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>
    <% include ../partials/nav %>
    <main id="main">
      <section class="section">
        <div class="section__title"><a href="/events/<%= event[0].id%>"><%= event[0].name %></a> >> <a href="/events/<%= event[0].id%>/profiles">Profiles</a> >> <%= `${profile.userFirst} ${profile.userLast[0]}.` %></div>
          <div class="card">
            <div class="card__title">Details:</div>
            <ul class="card__list">

                <% if (profile.profileQuestions) { %>
                  <li>
                      <span class="card__prop">Questions:</span>
                      <%= profile.profileQuestions %>
                  </li>
                <% } %>

                <% if (profile.profileTopics) { %>
                  <li>
                      <span class="card__prop">Topics:</span>
                      <%= profile.profileTopics %>
                  </li>
                <% } %>

                <% if (profile.profileJob) { %>
                  <li>
                      <span class="card__prop">Job Status:</span>
                      <%= profile.profileJob %>
                  </li>
                <% } %>

                <% if (profile.profileNoise) { %>
                  <li>
                      <span class="card__prop">Noise Level:</span>
                      <%= profile.profileNoise %>
                  </li>
                <% } %>

                <% if (profile.profileWhereToFind) { %>
                  <li>
                      <span class="card__prop">Where to find me:</span>
                      <%= profile.profileWhereToFind %>
                  </li>
                <% } %>

                <% if (profile.profileAskMe) { %>
                  <li>
                      <span class="card__prop">Ask me:</span>
                      <%= profile.profileAskMe %>
                  </li>
                <% } %>

                <% if (profile.profilePersonality) { %>
                  <li>
                      <span class="card__prop">Personality:</span>
                      <%= profile.profilePersonality %>
                  </li>
                <% } %>

            </ul>
            <div class="card__buttons">
              <% if (connectionData.length) { %>
                <a class="card__button card__button--red" href="/connections/<%= userID %>/<%= profile.userID %>?_method=DELETE">Cancel Connection</a>
              <% } else { %>
                <a class="card__button card__button--green" href="/connections/<%= userID %>/<%= profile.userID %>?_method=POST">Ask to Connect</a>
              <% } %>
            </div>
          </div>
      </section>
    </main>
    <script src="/shared_scripts.js" charset="utf-8"></script>
  </body>
</html>
